# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyCharm
.idea/

# VS Code
.vscode/

# Env
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Media
/media

# Static files
/staticfiles

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
