* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}

body {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
